.quiz-header {
  margin-bottom: 10px;
  width: 100%;
  margin-top: 30px;
}

.quiz-progress {
  font-size: 18px;
  color: #555;
  margin: 0 0 8px 0;
  font-weight: 600;
}

.quiz-unit {
  color: #7b7b7b;
  font-size: 16px;
  margin: 0;
  font-weight: 500;
}
