.quiz-button {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 16.8px;
  border: 4.2px solid #d1d5db;
  background: #fff;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}

.quiz-button:hover {
  background: #f3f4f6;
}

.quiz-button-label {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  font-weight: bold;
  font-size: 16px;
  flex-shrink: 0;
}

.quiz-button.selected {
  background: #FFFFAA;
  border-color: #FFE993;
}

.quiz-button.correct {
  border-radius: 16.8px;
  border: 4.2px solid #9ED696;
  background: #CDF3C6;
}

.quiz-button.incorrect .quiz-button-label {
  border-radius: 28px;
  background: #FF707D;
  color: #fff;
}

.quiz-button.selected .quiz-button-label {
  border-radius: 28px;
  background: #FFE993;
  color: #fff;
}

.quiz-button.correct .quiz-button-label {
  border-radius: 28px;
  background: #9ED696;
  color: #fff;
}

.quiz-button.incorrect {
  background: #FFB1B2;
  border-color: #FF707D;
}

.quiz-button-text {
  color: #334155;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
}

.checkmark-icon {
  margin-left: auto;
  flex-shrink: 0;
}
