html{
    overflow: hidden;

}
.quiz-page {
  background: #fdfcf7;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.quiz-container {
  border-radius: 16px;
  padding: 60px 80px;
  width: 90vw; 
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.submit-button {
  margin-top: 200px;
  background: #4f46e5;
  color: white;
  border: none;
  padding: 16px 40px;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.2s;
  font-family: Paperlogy;
  margin-left: auto;
}

.submit-button:hover {
  background: #4338ca;
}

.submit-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.question-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44.8px;
  align-self: stretch;
  justify-items: center;
  text-align: center;
}
.exit-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: transparent;
  border: none;
  color: #333;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 12px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal {
  background: white;
  border-radius: 12px;
  padding: 30px 40px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.modal p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #222;
  line-height: 1.5;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.yes-button, .no-button {
  padding: 10px 24px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.yes-button {
  background: #ef4444;
  color: white;
}

.no-button {
  background: #e5e7eb;
  color: #111;
}