/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  width: 1920px;
  height: 1080px;
  padding: 67.2px;
  flex-direction: column;
  align-items: flex-start;
  gap: 67.2px;
  border-radius: 22.4px;
  background: #FEFCF4;
  box-shadow: 0 11.2px 44.8px 0 rgba(0, 0, 0, 0.04);
}
html{
  font-family: Paperlogy;
}
